name: Develop CI

on:
  push:
    branches:
    - develop

jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2

      - uses: azure/docker-login@v1
        with:
          login-server: ghcr.io
          username: ${GITHUB_REPOSITORY_OWNER}
          password: ${CONTAINER_TOKEN}

      name: Get busy
     - run: |
          wget -c -q https://www.busybox.net/downloads/binaries/1.30.0-i686/busybox -O image-0001/bin/busybox
          sudo chmod u+x image-0001/bin/busybox

      - uses: docker/build-push-action@v2
        with:
          context: image-0001
          file: image-0001/Dockerfile
          push: true
          tags: |
            wryyyyyyyy/bussy:latest
            wryyyyyyyy/bussy:v1.0.0

