name: Develop CI

on:
  push:
    branches:
    - develop

jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2

#      - name: Setup
#        run: bash setup.sh

      - uses: azure/docker-login@v1
        with:
          login-server: ghcr.io
          username: ${GITHUB_REPOSITORY_OWNER}
          password: ${CONTAINER_TOKEN}

      - run: |
          mkdir image-0001/bin
          wget -c -q https://www.busybox.net/downloads/binaries/1.30.0-i686/busybox -O image-0001/bin/busybox
          chmod u+x image-0001/bin/busybox
          docker build image-0001/ -t bussy:v1
          docker image ls bussy:v1
          docker tag bussy:v1 ghcr.io/${GITHUB_REPOSITORY_OWNER}/bussy:v1
          docker push ghcr.io/${GITHUB_REPOSITORY_OWNER}/bussy:v1
