name: Develop CI

on:
  push:
    branches:
    - develop

jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2

      - uses: azure/docker-login@v1
        with:
          login-server: ghcr.io
          username: ${GITHUB_REPOSITORY_OWNER}
          password: ${CONTAINER_TOKEN}

      - uses: docker/build-push-action@v2
        with:
          context: image-0001
          file: image-0001/Dockerfile
          push: true
          tags: ${GITHUB_REPOSITORY_OWNER}/bussy:v1
