name: Develop CI

on:
  push:
    branches:
    - develop

jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2

#      - name: Setup
#        run: bash setup.sh

      - uses: azure/docker-login@v1
          with:
            login-server: ghcr.io
            username: ${{ secrets.REGISTRY_USERNAME }}
            password: ${{ secrets.REGISTRY_PASSWORD }}
