name: Main CI

on:
  push:
    branches:
    - main

jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2

      - uses: azure/docker-login@v1
        with:
          login-server: ghcr.io
          username: ${GITHUB_REPOSITORY_OWNER}
          password: ${CONTAINER_TOKEN}

      - name: Tiny
        run: |
          cd image-0002 && docker build . -t tiny:ultra
          docker image ls tiny:ultra

      - name: Builder
        run: |
          docker build -f Dockerfile_builder . -t tiny:builder
          docker image ls tiny:builder
